.product-list-grid {
    display: grid; 
    
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    
    gap: 30px; 
    
    justify-content: center;
    
    padding: 20px 0;
}

@media (max-width: 576px) {
    .product-list-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}